.header {
    background-color: #6E2B4E;
    color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
    height: 120px; /* Высота шапки = высота логотипа (100px) + gap (10px) + текст */
}

.header-text {
    font-size: 6px;
    font-weight: normal;
    color: white;
    text-align: center;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logo {
    height: 120px;
    width: auto;
    object-fit: contain;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
}

.icon-link:hover {
    opacity: 0.8;
}

.avatar {
    height: 45px;
    width: auto;
    object-fit: contain;
}
